body{background-color: cadetblue;}
#cardholder{display: flex;}
.mainHeader{color:white;text-align: center;}
.card{width: 300px;height: 400px; margin: 10px;padding: 5px;background-color: aliceblue;border:2px solid white(253, 0, 0); }
.dogpicture{max-width:  200px;display:block}
.button{}
